@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply bg-secondary text-accent_black;
  }
  body {
    scroll-behavior: smooth;
  }

  section {
    @apply mt-40 mx-auto w-[80%];
  }

  li {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.05em;
    line-height: 1rem;
  }

  h1,
  h3 {
    @apply font-dmSerif;
  }
  h2,
  h4,
  h5,
  h6,
  p {
    @apply font-rubik tracking-wider;
  }

  h1 {
    font-size: 6.25rem;
    font-weight: 400;
    line-height: 100%;
  }

  h2 {
    font-size: 3rem;
    font-weight: 400;
    line-height: 140%;
  }
  h3 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 100%;
  }
  h4 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 150%;
  }
  h5 {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 150%;
  }
  h6 {
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 222%;
  }
  p {
    font-size: 1rem;
    font-weight: 300;
  }
}
